<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="NSCC.Fees.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        <section name="NSCC.ExceptionManagement.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FeesEntities" connectionString="metadata=res://*/FeesModel.csdl|res://*/FeesModel.ssdl|res://*/FeesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial catalog=Fees777;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ExceptionManagerEntities" connectionString="metadata=res://*/ExceptionManagementModel.csdl|res://*/ExceptionManagementModel.ssdl|res://*/ExceptionManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial catalog=WebApplicationManager;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <NSCC.Fees.Web.Properties.Settings>
      <setting name="AcademicYear" serializeAs="String">
        <value>2020</value>
      </setting>
      <setting name="MetaDescription" serializeAs="String">
        <value>{0} - This is the meta descripton text for all Program Fee pages. Only the title changes</value>
      </setting>
      <setting name="AcademicCalendarURL" serializeAs="String">
        <value>https://www.nscc.ca/learning_programs/academic_schedule/default.aspx</value>
      </setting>
      <setting name="LabelCoopMandatory" serializeAs="String">
        <value>Co-op course tuition &lt;strong&gt;(mandatory)&lt;/strong&gt; - this is an academic course and students are required to pay course tuition for one unit.</value>
      </setting>
      <setting name="LabelCoopOptional" serializeAs="String">
        <value>Co-op course tuition &lt;strong&gt;(optional)&lt;/strong&gt; - this is an optional academic course and if enrolled, students are required to pay course tuition for one unit.</value>
      </setting>
    </NSCC.Fees.Web.Properties.Settings>
	  <NSCC.ExceptionManagement.Business.Properties.Settings>
		  <setting name="SendNotificationOnError" serializeAs="String">
			  <value>False</value>
		  </setting>
		  <setting name="MinimumSeverityLevelForNotify" serializeAs="String">
			  <value>5</value>
		  </setting>
		  <setting name="WAM_URL" serializeAs="String">
			  <value>https://webapps.nscc.ca/ErrorLog</value>
		  </setting>
		  <setting name="Error_EmailTo" serializeAs="String">
			  <value>simon.anderson@nscc.ca</value>
		  </setting>
		  <setting name="Error_EmailCC" serializeAs="String">
			  <value>simon.anderson@nscc.ca</value>
		  </setting>
		  <setting name="Error_EmailSubject" serializeAs="String">
			  <value>Application Error Occurred</value>
		  </setting>
		  <setting name="Error_EmailFrom" serializeAs="String">
			  <value>webmaster@nscc.ca</value>
		  </setting>
		  <setting name="SMTP_Server" serializeAs="String">
			  <value>10.82.90.3</value>
		  </setting>
		  <setting name="SMTP_Port" serializeAs="String">
			  <value>25</value>
		  </setting>
	  </NSCC.ExceptionManagement.Business.Properties.Settings>
  </applicationSettings>
</configuration>